[Desktop Entry]
Version=1.0
Type=Application
Name=Hilbmetric
GenericName=Hilbmetric
Comment=Python program for the Hilbert projective metric
TryExec=hilbmetric
Exec=hilbmetric %F
Categories=Mathematics;Science;Qt;
Icon=hilbmetric
Terminal=false
StartupNotify=true
MimeType=text/x-python;

